
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
path:hover, .dropdown-toggle:hover {
  color: gray;
  cursor: pointer;
}
a.btn, a.btn path {
	color: #2e3192;
	font-weight: bold;
	outline: none;
}
a.btn > span {
	margin-right: 10px;
}
label + div {
	background-color:#fef200;
	font-weight:bold; 
	color: #2e3192; 
	text-align: center;
}

